.notificaciones{
    flex:1;
}

.notificaciones--header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.edit {
    background: #e43636;
    padding: 12px;
    border-radius: 10px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit .icon {
    font-size: 20px;
    transition: 0.5s ease-in-out;
}


.notificaciones-alertas{
    background: rgba(255, 255, 255, 0.1);
    flex: 1;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto; /* Añadido para permitir el scroll vertical */
    max-height: 300px; /* Limitar la altura del contenedor de notificaciones */
    width: 90%;
}
.alerta {
    background: #dde6ed;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

.alerta-especificacion {
    display: flex;
    gap: 20px;
    align-items: center;
}

.alertas-cover {
    background: #fff ;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:50% ;
    font-size: 20px;
}

.alerta .duration {
    font-size: 12px;
}
.alerta .action {
    font-weight: 900;
    font-size: 1.2rem;
}
